@{
    ViewData["Title"] = "Home Page";
}

<div class="sheetSlider sh--default">
    <input id="s1" type="radio" name="slide1" checked />
    <input id="s2" type="radio" name="slide1" />
    <input id="s3" type="radio" name="slide1" />
    <input id="s4" type="radio" name="slide1" />
    <input id="s5" type="radio" name="slide1" />
    <input id="s6" type="radio" name="slide1" />
    <input id="s7" type="radio" name="slide1" />
    <input id="s8" type="radio" name="slide1" />
    <input id="s9" type="radio" name="slide1" />
    <input id="s10" type="radio" name="slide1" />
    <div class="sh__content">
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="~/Images/MenuPrincipal.jpg" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>GESTOR DE CASOS</h4>
                <span>
                    Herramienta para control y gestion de Casos
                    <a href="#urlPage"> </a>
                </span>
            </div>
        </div>
    </div>
</div>
