@{
    ViewData["Title"] = "Acerca de";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>
        El sistema CasEasy cuenta con un mòdulo de casos y contratos que le permite
        organizar los diferentes casos y contratos de su estudio jurídico. Aqui usted contará con
        herramientas que le permitirán llevar un orden adecuado en la información de sus casos y
        facilitar el trabajo diario, algunas de sus características son:
    </p>
    
    <ul reversed>
        <li> Visualización ordenada, detallada y personalizable de los casos y contratos</li>
        <li> Registro detallado de información de casos </li>
        <li> Posibilidad de registrar tareas y gestiones de cada caso </li>
        <li> Expedientes detallados de los casos </li>    
    </ul>

    
</div>
